/*
Theme Name: arts_car
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: arts_car
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

arts_car is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

body{
	margin: 0;
	font-size: 14px;
	font-family: lato;
}
p{
	color: #555;
	line-height: 135%;
}
a.main-button{
	padding: 10px 17px 12px;
	color: #737600;
	text-decoration: none;
	text-transform: uppercase;
	font-style: italic;
	text-shadow: 1px 0px #d4d22c;
	border-radius: 4px;
	box-shadow: 0px -2px 0 1px #737514 inset;
	background: #d4d22c; /* Old browsers */
	background: -moz-linear-gradient(top,  #d4d22c 0%, #9b9b2c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #d4d22c 0%,#9b9b2c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #d4d22c 0%,#9b9b2c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d22c', endColorstr='#9b9b2c',GradientType=0 ); /* IE6-9 */
}
.main-button-right{
	float: right;
}
.submit{
	padding: 10px 17px 12px;
	color: #737600;
	text-decoration: none;
	text-transform: uppercase;
	font-style: italic;
	text-shadow: 1px 0px #d4d22c;
	border-radius: 4px;
	background: #d4d22c; /* Old browsers */
	background: -moz-linear-gradient(top,  #d4d22c 0%, #9b9b2c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #d4d22c 0%,#9b9b2c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #d4d22c 0%,#9b9b2c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d22c', endColorstr='#9b9b2c',GradientType=0 ); /* IE6-9 */
}
ul{
	-webkit-padding-start: 0px;
}
nav.desktop{
	width: 100%;
	height: 85px;
	border-top: 5px solid #D5D040;
}
nav.desktop .left,
nav.desktop .right,
nav.desktop .center{
	margin: 0;
	padding: 0;
}
nav.desktop ul{
	list-style: none;
	-webkit-padding-start: 0;
}
nav.desktop li{
	float: left;
	margin: 0;
	text-align: center;
	position: relative;
	height: 65px;
	padding-top: 18px;
}
nav.desktop li.two-lines{
	padding-top: 9px !important;
}
nav.desktop .nav-3{
	width: 33.3333%;
}
nav.desktop .nav-4{
	width: 25%;
}
nav.desktop li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #535353;
	transition: all 0.6s;
	margin-top: 25px;
}
nav.desktop li a.ative,
nav.desktop li a:hover{
	color: #D5D040;
	transition: all 0.4s;
}
nav.desktop .logo_space{
	height: 80px;
}
nav.desktop .center{
	background-image: url("assets/image/nav_logo_back.png");
	height: 110px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	position: absolute;
	z-index: 9;
	left: 50%;
	transform: translateX(-50%);
}
nav.desktop .center img{
	position: absolute;
	height: 50px;
	top: 50%;
	left: 50%;
	max-width: 70%;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
nav.desktop li:after {
	background: -moz-linear-gradient(top,  rgba(151,151,166,0) 0%, rgba(151,151,166,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(151,151,166,0) 0%,rgba(151,151,166,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(151,151,166,0) 0%,rgba(151,151,166,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009797a6', endColorstr='#9797a6',GradientType=0 ); /* IE6-9 */
	content: ".";
	color: transparent;
	position: absolute;
	height: 55px;
	width: 1px;
	bottom: -1px;
	right: 0;
}
nav.desktop li:last-child:after{
	display: none;
}
nav.desktop .contato a{
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}
nav.desktop img#facebook_nav{
	width: 20px;
	height: 20px;
}
nav.desktop p#min{
	margin: 0;
	text-transform: uppercase;
	font-size: 8px;
}
nav.desktop p#tel{
	margin: 0;
	color: #535353;
}
nav.desktop p#tel span{
	font-size: 8px;
}
nav.mobile{
	height: 55px;
}
nav.mobile .logo{
	height: 55px;
	padding: 15px 0;
}
nav.mobile a#menu{
	float: right;
	padding: 20px; 15px;
	color: #D5CF4D;
	text-decoration: 0;
}
nav.mobile ul{
	list-style: none;
}
nav.mobile li{
	padding: 10px 0;
}
nav.mobile li a{
	padding: 10px 15px;
	color: white;
	text-decoration: none;
	width: 100%;
	float: left;
}
nav.mobile li a:hover{
	background-color: #C0BA4F;
	transition: 0.5s all;
}
nav.mobile span{
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: 100%;
	z-index: 1;
	color: white;
}

@media (min-width: 0px){
	nav.desktop{
		display: none;
	}
	nav.mobile{
		display: block;
	}
}
@media (min-width: 990px){
	nav.desktop{
		display: block;
	}
	nav.mobile{
		display: none;
	}
}
/*Banner Bullet Active*/
.uk-dotnav-contrast > *.uk-active > *{
	background: rgba(213, 207, 77, 0.9);
}

h1.call{
	color: #888;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 500;
	height: 2em;
	text-align: center;
	margin-bottom: 0;
}
h1.call span{
	padding-bottom: 17px;
	border-bottom: 5px solid #D5CF4D;
}
h1.intern{
	background-image: url("assets/image/bg_hintern.jpg");
	color: white;
	padding: 27px 0;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 0;
	text-transform: uppercase;
}
h4.gallery_call{
	background-image: url("assets/image/bg_gallery.png");
	background-position: right;
	/* text-align: center; */
	text-transform: uppercase;
	color: #878787;
	padding: 20px;
	font-style: italic;
	margin-top: 40px;
	position: absolute;
	width: 1000%;
	text-align: right;
	padding-right: 62px;
	right: 0;
	font-size: 20px;
}
h2.gallery_call{
	color: #878787;
	margin: 0;
	padding: 20px 0 5px;
	text-align: center;
	font-style: italic;
	text-transform: uppercase;
}
@media (min-width: 0px) {
	h4.gallery_call{
		display: none;
	}
}
@media (min-width: 768px){
	h4.gallery_call{
		display: block;
	}
}
.page_home .about{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page_home .about p{
	padding: 80px 0;
}
.page_home .services{
	padding: 30px 0;
	clear: both;
}
.page_home .services .service{
	margin-bottom: 60px;
	text-align: center;
}
.page_home .services .service p{
	margin: 20px 0;
}
@media (min-width: 0px) {
	.services .service:nth-child(2n+1){
		clear: left;
	}
}
@media (min-width: 992px) {
	.services .service:nth-child(2n+1){
		clear: none;
	}
	.services .service:nth-child(3n+1){
		clear: left;
	}
}
.page_home .clients{
	padding: 60px 0 15px;
	clear: both;
}
.page_home .clients .client{
	margin-bottom: 30px;
	text-align: center;
}
.page_home .clients .client img{
	max-width: 100%;
	height: auto;

}

.page_services .service {
	clear: both;
	border-bottom: 1px solid #EEEEEF;
	margin-bottom: 40px;
}
.page_services .service:last-child{
	border-bottom: none !important;
}
.page_services .service .description .thumb{
	text-align: center
}
.page_services .service .description .thumb img{
	max-width: 80%;
	height: auto;
}
.page_services .service .description h2{
	color: #D5CF4D;
	text-transform: uppercase;
	font-style: italic;
	margin-bottom: 0px;
}
.page_services .service .description h3 p{
	color: #666;
	margin-top: -10px;
	font-weight: 200;
}
.page_services .service .gallery{
	clear: left;
}
.page_services .service .gallery ul{
	list-style: none;
	margin: 0;
	-webkit-padding-start: 0px;
}
.page_services .service .gallery li{
	float: left;
	max-width: 25%;
	padding: 15px;
	text-align: center;
}
.page_services .service .gallery li img{
	width: 100%;
}
.page_course .course{
	clear: both;
	float: left;
	padding: 30px 0;
	margin-bottom: 30px;
}
.page_course .course h2{
	margin-top: 0;
	color: #D5CF4D;
}
.page_course .course img{
	width: 100%;
	height: auto;
}
.client{
	margin-bottom: 30px;
	text-align: center;
}
.client .rounded{
	/*border-radius: 100%;*/
	/*width: 200px;*/
	/*height: inherit;*/
	margin-top: 30px;
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
	/*border: 1px solid #ddd;*/
	/*overflow: hidden;*/
	position: relative;
}
.client .rounded img{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 80%;
	height: auto;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.page_location h1.intern{
	margin-bottom: 0;
}
.page_location .map{
	position: relative;
}
.page_location .map .address{
	position: absolute;
	top: 0;
	left: 0;
	padding: 70px;
	z-index: 3;
	background-image: url("assets/image/bg_loca.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	width: 40%;
	min-width: 500px;
}
.informations{
	clear: both;
	margin-top: 30px;
}
.page_contact .informations .single{
	padding: 15px;
	border: 1px solid #EEEEEE;
	min-height: 175px;
	margin-bottom: 30px;
}
.page_about .informations .single{
	padding: 15px;
	border: 1px solid #EEEEEE;
	min-height: 285px;
	margin-bottom: 30px;
}
.informations .single h3{
	padding-left: 150px;
	padding-top: 27px;
	position: relative;
	height: 130px;
	text-transform: uppercase;
	color: #878787;
	font-style: italic;
}
.page_contact .informations .single h3{
	padding-left: 48px;
	padding-top: 5px;
	position: relative;
	height: 38px;
	text-transform: uppercase;
	color: #878787;
	font-style: italic;
}
.informations .single h3 span{
	position: absolute;
	left: 0;
	top: 0;
}
.page_about .informations .single{
	min-height: 270px;
}
.page_about .about{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 500px;
	padding: 40px 0;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
}
.page_about .about p{
	padding: 80px 0;
}
.page_about .gallery{
	clear: left;
	position: relative;
	background-color: #ECECEC;
}
.page_about .gallery h4.gallery_call{
	position: absolute;
	top: -90px;
	right: 0;
	text-align: center;
	width: 50%;
	min-width: 450px;
	background-image: url("assets/image/bg_gallery_about.png");
	background-repeat: no-repeat;
}
.page_about .gallery ul{
	list-style: none;
	background-color: #EEEEEF;
	margin-top: 0;
}
.page_about .gallery li{
	float: left;
	max-width: 33.3333%;
	padding: 15px;
	text-align: center;
}
.page_about .gallery li img{
	width: 100%;
}

.gap{
	padding: 30px 0;
	clear: both;
}
.form-control{
	margin-bottom: 30px;
	background-color: #E8E7E4;
}
img.uk-responsive-width{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.uk-slidenav-position{
	position: relative;
}
.no-margin{
	margin: 0;
}
.uk-slidenav{
	position: absolute;
	top: 50%;
	z-index: 1;
	margin-top: -30px
}
.uk-slidenav-previous{
	left: 20px;
}
footer{
	clear: left;
	padding: 40px 0;
	text-align: center;
	border-top: 1px solid #EEEEEF;
}
footer .logo img{
	max-width: 100%;
	margin: 20px 0;
}
footer .address p{
	margin: 17px 0;
}
footer .phone p{
	font-size: 2em;
	margin: 17px 0;
	color: #535353;
}
footer .phone p span{
	font-size: 14px;
}
footer .oneicon{
	padding: 17px 0;
}





/* ======================================================================== *
 * Cursos Landing Page - Cursos Martelinho de Ouro CSS                      *
 * ======================================================================== */

.navegation{
 list-style: none;
 background: white;
 border-top: 1px solid #DEDEDE;
 float: left;
 width: 100%;
 padding-top: 17px;
 clear: both;
}
.navegation.fixed{
	position: fixed;
  top: -65px;
  left: 0;
  right: 0;
  z-index: 999;
  transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
}
body.down .navegation.fixed {
  top: 0;
}
.navegation li{
	float: left;
	margin: 0;
	text-align: center;
	position: relative;
	height: 65px;
	padding-top: 18px;
}
.navegation li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #535353;
	transition: all 0.6s;
	margin-top: 25px;
}
.navegation li a.ative,
.navegation li a:hover{
	color: #D5D040;
	transition: all 0.4s;
}
.page_course .advantages{
	clear: both;
  background-image: url(assets/cursos/background_cursos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 0 20px;
}
.advantages .advantage{
 float: left;
 margin-bottom: 30px;
 text-align: center;
}
.advantages h1.call,
.contact h1.call{
 color: white;
 margin-bottom: 25px;
}
.advantages .advantage h1{
 color: #D5CF4D;
 font-weight: 200;
}
.advantages .advantage p{
	color: white;
	font-weight: 200;
}
@media (min-width: 0px) {
	.advantages .advantage:nth-child(2n+1){
		clear: left;
	}
}
@media (min-width: 992px) {
	.advantages .advantage:nth-child(2n+1){
		clear: none;
	}
	.advantages .advantage:nth-child(3n+1){
		clear: left;
	}
}
.page_course .videos .container{
	padding-top: 30px;
}
.page_course .videos img{
	border-radius: 4px;
}

.modality{
	position: relative;
	border-bottom: 1px solid #E4E4DF;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.modality h2.title{
	background-image: url("assets/cursos/bullet_modalidade.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 10px 0px 10px 47px;
	color: #D5CF4D;
	font-weight: 200;
}
.modality .no-padding{
	padding: 0;
}
.modality .right-padding{
	padding: 0px 15px 0 0;
}
.modality p{
	margin-bottom: 30px;
}
.modality li{
	list-style: none;
	padding-bottom: 7px;
	background-image: url("assets/cursos/li-bullet.png");
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 22px;
	color: #444;
}
.modality .price{
	right: 0;
	height: 120px;
	min-width: 325px;
	width: 40%;
	border: 1px solid #DFDFCE;
	border-bottom: 3px solid #DFDFCE;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: -10px 0px 0px 0px #D5CF4D;
}
@media (min-width: 0px){
	.modality .price{
		position: relative;
		right: 0;
		margin-top: 30px;
	}
}
@media (min-width: 990px){
	.modality .price{
		position: absolute;
		bottom: 40px;
	}
}
.modality .price h3{
	color: #D5CF4D;
	font-size: 2.3em;
	padding-left: 20px;
	margin: 25px 0 0;
}
.modality .price h3 span{
	font-size: 14px;
	font-weight: 200;
	color: #444;
}
.modality .price h4{
	margin-top: 5px;
	font-weight: 200;
	color: #444;
	padding-left: 20px;
}
.page_course .contact{
	padding: 30px 0;
	background-image: url("assets/cursos/contact_bg.jpg");
	background-size: cover;
	background-position: center;
}
.page_course .contact .container{
	padding: 20px 0;
}
.page_course .contact .form-control{
	background: none;
	border-radius: 0px;
	color: #D5CF4D;
}
